# Package requirements
fuzzywuzzy==0.17.0
geocoder==1.38.1
geolocation-python==0.2.2
git+https://github.com/apixu/apixu-python.git@v0.3.0
googlemaps==3.1.3
hurry.filesize==0.9
pypiwin32==223
python-Levenshtein==0.12.0
rasa==1.2.9
reverse-geocode==1.4
spacy==2.1.8
tinytag==1.2.2
pandas==0.25.1
numpy==1.16.3
tensorflow-gpu==1.13.2
