:root {
    /* Paddings */
    --charlotte-pixel-00: 0px;
    --charlotte-pixel-05: 05px;
    --charlotte-pixel-10: 10px;
    --charlotte-pixel-15: 15px;
    --charlotte-pixel-20: 20px;
    --charlotte-pixel-25: 25px;
    --charlotte-pixel-30: 30px;
    --charlotte-pixel-35: 35px;
    --charlotte-pixel-40: 40px;
    --charlotte-pixel-45: 45px;
    --charlotte-pixel-50: 50px;
    --charlotte-pixel-55: 55px;
    --charlotte-pixel-60: 60px;
    --charlotte-pixel-65: 65px;
    --charlotte-pixel-70: 70px;
    --charlotte-pixel-75: 75px;
    --charlotte-pixel-80: 80px;
    --charlotte-pixel-85: 85px;
    --charlotte-pixel-90: 90px;
    --charlotte-pixel-95: 95px;
    --charlotte-pixel-100: 100px;
    --charlotte-pixel-default: var(--charlotte-pixel-15);

    /* Font sizes */
    --charlotte-message-default: 1.20em;
    --charlotte-message-send-default: 1.0em;
    --charlotte-message-timestamp: 0.9em;

    /* Border radius */
    --charlotte-bubble-radius: 30px;

    /* Line height */
    --charlotte-line-height: 1.5;
}
